{% if postgresql_ext_install_barman %}{% for server in ansible_play_hosts_all | sort 
%}{{ server }}:{{ postgresql_port }}:*:{{ barman_pg_user }}:{{ barman_pg_password }}
{{ server }}:{{ postgresql_port }}:*:{{ barman_pg_streaming_user }}:{{ barman_pg_streaming_password }}
{% endfor %}{% endif %}

