# {{ ansible_managed }}
# PostgreSQL Client Authentication Configuration File
# ===================================================
#
# Refer to the "Client Authentication" section in the PostgreSQL
# documentation for a complete description of this file.  A short
# synopsis follows.
#
# This file controls: which hosts are allowed to connect, how clients
# are authenticated, which PostgreSQL user names they can use, which
# databases they can access.  Records take one of these forms:
#
# local      DATABASE  USER  METHOD  [OPTIONS]
# host       DATABASE  USER  ADDRESS  METHOD  [OPTIONS]
# hostssl    DATABASE  USER  ADDRESS  METHOD  [OPTIONS]
# hostnossl  DATABASE  USER  ADDRESS  METHOD  [OPTIONS]
#
# TYPE  DATABASE        USER            ADDRESS                 METHOD

# Default:
{% for connection in postgresql_pg_hba_default %}
{% if connection.comment is defined %}
# {{connection.comment}}
{% endif %}
{{connection.type}}  {{connection.database}}  {{connection.user}}  {{connection.address}}  {{connection.method}}
{% endfor %}

# MD5 hashed password hosts
{% for host in postgresql_pg_hba_md5_hosts %}
host{% if postgresql_ssl %}ssl{% endif %}  all  all  {{host}}  md5
{% endfor %}

# Password hosts
{% for host in postgresql_pg_hba_passwd_hosts %}
host{% if postgresql_ssl %}ssl{% endif %}  all  all  {{host}}  password
{% endfor %}

# Trusted hosts
{% for host in postgresql_pg_hba_trust_hosts %}
host{% if postgresql_ssl %}ssl{% endif %}  all  all  {{host}}  trust
{% endfor %}

{% if postgresql_ext_install_repmgr %}
local   replication   {{ repmgr_replication_user }}                  {{ postgresql_default_auth_method }}
host{% if postgresql_ssl %}ssl{% endif %}    replication   {{ repmgr_replication_user }}   127.0.0.1/32   {{ postgresql_default_auth_method_hosts }}
host{% if postgresql_ssl %}ssl{% endif %}    replication   {{ repmgr_replication_user }}   {{ repmgr_network_cidr }}   {{ postgresql_default_auth_method_hosts }}
local   {{ repmgr_database }}        {{ repmgr_user }}                  {{ postgresql_default_auth_method }}
host{% if postgresql_ssl %}ssl{% endif %}    {{ repmgr_database }}        {{ repmgr_user }}   127.0.0.1/32   {{ postgresql_default_auth_method_hosts }}
host{% if postgresql_ssl %}ssl{% endif %}    {{ repmgr_database }}        {{ repmgr_user }}   {{ repmgr_network_cidr }}   {{ postgresql_default_auth_method_hosts }}
{% endif %}

{% if postgresql_ext_install_barman and ( barman_backup_node|default(false) or postgresql_ext_install_repmgr ) %}
host{% if postgresql_ssl %}ssl{% endif %}    all           {{ barman_pg_user }}             {{ barman_server_ip_or_cidr }}   {{ postgresql_default_auth_method_hosts }}
host{% if postgresql_ssl %}ssl{% endif %}    replication   {{ barman_pg_streaming_user }}   {{ barman_server_ip_or_cidr }}   {{ postgresql_default_auth_method_hosts }}
{% endif %}

# User custom
{% for connection in postgresql_pg_hba_custom %}
{% if connection.comment is defined %}
# {{connection.comment}}
{% endif %}
{{connection.type}}  {{connection.database}}  {{connection.user}}  {{connection.address}}  {{connection.method}}
{% endfor %}
